{%liquid
if section.settings.featured_articles.links == blank
assign featured_articles_linklist = linklists[section.settings.featured_articles].links

else
assign featured_articles_linklist = section.settings.featured_articles.links
endif
%}

<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<style>
    .shine {
        letter-spacing: 2px;
        background: linear-gradient(90deg, #fff, #000);
        background-repeat: no-repeat;
        background-size: 90%;

        animation: animate 3s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);

    }

    @keyframes animate {
        0% {
            background-position: -500%;
        }

        100% {
            background-position: 500%;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: black;
        top: auto !important;
        height: 20px;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 20px;
    }

    .swiper-pagination-bullet-active {
        color: black !important;
        background: black !important;
        bottom: 0 !important;
    }


    .mag {
        filter: drop-shadow(10px 10px 0px #000);
        background-color: white;
        /* transition: all 250ms linear; */
        /* border: 1px solid rgb(75 85 99); */
        /* border-radius: 0.5em; */

    }

    .textStroke {
        /* color: black; */
        /* -webkit-text-fill-color: red; */
        /* Will override color (regardless of order) */
        -webkit-text-stroke: 1px #000;
    }

    .textMag {
        filter: drop-shadow(3px 3px 0px #000);

    }

    .magContainer:hover {
        /* filter: brightness(120%); */
    }
</style>

<div>



    <div class="flex flex-col justify-center items-center">

        <!-- <h1 class="text-emerald-600 text-4xl">flick thru our articles</h1> -->

        <div class="swiper">
            <div class="swiper-wrapper">





                {% for link in featured_articles_linklist %}
                {% assign shortURL = link.url | remove: "/blogs/"%}
                {% assign article = articles[shortURL] %}
                {% assign imageURL = article.image %}
                <div class="swiper-slide max-w-lg h-32 mt-2 rounded-lg mag relative flex justify-center items-center">


                    <div class="overflow-hidden h-halfScreen hover:opacity-50 magContainer">



                        <a href="{{article.url}} ">

                            {% if article.image != blank %}
                            <img src="{{imageURL | img_url: 'master' }}"
                                class="defaultImage rounded-lg transition duration-500 ease-in-out hover:scale-125 hover:blur-sm "
                                alt="{{article.image.alt}}" />
                            {% else %}
                            {{ 'product-1' | placeholder_svg_tag: 'defaultImage rounded-lg transition duration-500
                            ease-in-out hover:scale-125 hover:blur-sm ' }}
                            {% endif %}
                        </a>


                        <h1
                            class="absolute rounded-lg lowercase font-extrabold p-4 textMag text-center blur-sm shadow-2xl text-white hover:text-black top-1 text-4xl">
                            {{article.title}}</h1>
                    </div>
                </div>
                <!-- </div> -->
                {% endfor %}
            </div>

            <div class="flex justify-around mt-2 item-center pt-10">

                <div class="swiper-pagination pt-2"></div>
                <div class="swiper-button-prev mt-0"></div>
                <div class="swiper-button-next mt-0"></div>
            </div>
        </div>


    </div>

    <div class="">
        <h6 class="text-2xl shine font-bold text-center">
            {{ section.settings.slogan }}
        </h6>
    </div>

</div>

<script>

    // const screenWidth = screen.width

    // function renderEffect() {
    //     if (screenWidth < 640) {
    //         return "cards"
    //     }
    //     return "coverflow"
    // }


    // const renderE = () => {
    //     let width
    //     let effectType = "coverflow"
    //     window.onresize = window.onload = function () {
    //         width = this.innerWidth
    //         console.log(width)
    //         if (width < 640) {
    //             effectType = "cards"
    //             console.log({Card: effectType })
    //         } else if (width > 640) {
    //             console.log("coverflow")
    //             console.log({CoverFlow: effectType })
    //             effectType = "coverflow"
    //         }
    //     }
    //     console.log({ ET: effectType })
    //     return effectType

    // }

    const swiper = new Swiper(".swiper", {
        // effect: "coverflow",
        direction: "horizontal",
        loop: true,
        grabCursor: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
        navigation: {
            prevEl: ".swiper-button-prev",
            nextEl: ".swiper-button-next"
        }
    });
</script>

{% schema %}
{
"name": "Featured Articles",
"settings": [
{
"type": "link_list",
"id": "featured_articles",
"label": "Featured Articles"
},
{
"type": "text",
"id": "slogan",
"label": "Slogan",
"default": "Creating confidence for the modern day woman."
}
],
"presets": [
{
"name": "Featured Articles"
}
]
}
{% endschema %}