{%liquid
if section.settings.footer_menu.links == blank
assign footer_menu__link_list = linklists[section.settings.footer_menu].links

else
assign footer_menu__link_list = section.settings.footer_menu.links
endif
%}

<style>
    .footer {
        background-color: {{section.settings.background_color}};
    }
</style>

<!-- main container -->
<div class="footer p-4 ">

    <!-- logo container -->
    <div class="flex justify-center items-center w-full">
        {% if section.settings.logo_image != blank %}
            
        <img src="{{section.settings.logo_image | img_url: 'master' }}"
        alt="{{section.settings.logo_image.alt}}"
        class="w-44 object-cover object-center"        
        loading="lazy">
        {% endif %}
    </div>

    <!-- links container -->
    <div class="flex justify-between items-center flex-row ">
        <!-- socials -->
        <div class="space-y-4">
            <p>insta</p>
            <p>tiktok</p>
            <p>twitter</p>
            <p>facebook</p>
            <p>email</p>
        </div>

        <!-- privacy, FAQ, etc. -->
        <div class="text-right">

                {% for link in footer_menu__link_list %}
                <a href="{{ link.url }}" class="">
                    <p class="mt-5 font-bold uppercase">{{ link.title }}</pc>
                </a>
                {% endfor %}
        </div>
    </div>
    <!-- credits -->
    <div class="flex justify-center items-center w-full pt-4">
        <p class="font-bold uppercase pt-4">
            {{ section.settings.footer_text }}
        </p>
    </div>

</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#CEADDF"
    },
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "Anna Marie-Descartes"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu"
    },
    {
    "type": "image_picker",
    "id": "logo_image",
    "label": "Logo"
    }
  ]
}
{% endschema %}