<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>




<style>
    .clippy{
clip-path:ellipse(80% 90% at 50% 100%);
  filter:url(#clippy);
    }
</style>

<div class="flex relative flex-col justify-center items-center flex-wrap">

    <div class=" basis-full p-8 mt-12 max-w-lg" id="GSAP_title">
        <h1 class="text-center  font-semibold text-4xl">{{section.settings.heading}}</h1>
    </div>


    <div class="clippy" id="clippy">

        <!-- * LOGO + TEXT HOLDER -->
        <div class="flex flex-col mt-10 justify-center bg-HOE_BODY items-center border-b-2 border-black " id="clippy">
            
            <div class="p-4">
                
                {% if section.settings.logo != blank %}
                <img class="object-center object-cover h-80 max-w-3xl" src="{{section.settings.logo | img_url: "master"}}" alt="{{section.settings.logo.alt}}">
                    {% else %}
                        {{shop.name}}
                {% endif %}
                
                <h1 class="text-center text-xl mb-12" id=""> 
                    {{section.settings.subtext}}
                    <!-- <lottie-player class="  w-36 h-36" src="https://assets4.lottiefiles.com/packages/lf20_aryprpzt.json" background="transparent" speed="1" loop autoplay></lottie-player> -->
                </h1>
            </div>
        </div>
    </div>

    <div id="companyMission" class="mt-10">
        <p class="text-center text-lg max-w-sm my-2 ">{{section.settings.companyMission}}</p>
    </div>

        
    <div class=" mt-10 mb-5" >

    {% form 'customer' %}
    <div id="newsletter" class="flex flex-col justify-center items-center ">


        <div class="">

            <!-- first name box -->
            <div class="flex justify-between items-center mb-2">
                <label class="mr-5 font-extrabold" for="first-name">First Name:</label>
                <input class="inputField rounded-lg border border-black p-1" placeholder="Anna" type="text" name="contact[first-name] id=" first-name">
            </div>


            <!-- last name box -->
            <div class="flex justify-between items-center">
                <label class="mr-5 font-extrabold" for="email">Email:</label>
                <input placeholder="annamarie@gmail.com" autocomplete="email" class="border rounded-lg border-black p-1 inputField" type="email"
                    name="contact[email]" id="email" />
            </div>
        </div>

        <!-- sign up button -->
        <div>
            <input type="submit" class=" cursor-pointer text-xl m-5 p-3 rounded border bg-HOE_GREEN_WARM border-black"
            value="{{section.settings.sign_up_button}}" />
        </div>
    </div>
    {% endform %}
    </div>

    <div>
    <div class="flex mt-3 pt-1" id="socials">
        <!-- socials -->
            <a href="{{section.settings.instagram_link}}" target="_blank" class="rounded-full  p-1 mr-4">
                {%render "instagram" %}
            </a>
            <a href="{{section.settings.twitter_link}}" target="_blank" class="rounded-full  p-1 mr-4">
                {%render "twitter" %}
            </a>
            <a href="{{section.settings.tiktok_link}}" target="_blank" class="rounded-full  p-1 mr-4">
                {%render "tiktok" %}
            </a>
            <a href="{{section.settings.facebook_link}}" target="_blank" class="rounded-full  p-1 mr-4">
                {%render "facebook" %}
            </a>
            <a href="mailto:{{section.settings.email_link}}" class="rounded-full  p-1 mr-4">
                {%render "email" %}
            </a>
    </div>

    </div>
</div>

<script defer>

const timeline = gsap.timeline();




    timeline.fromTo("#GSAP_title", 
    { y: -200, opacity: 0 }, 
    {y:0, opacity:1, duration: 1.2 })
    timeline.fromTo("#clippy", 
    { opacity: 0 }, 
    {opacity:1, duration: 0.9 })
    timeline.fromTo("#companyMission", 
    { opacity: 0 }, 
    {opacity:1, duration: 0.9 })
    timeline.fromTo("#newsletter", 
    { opacity: 0 }, 
    {opacity:1, duration: 0.9 })
    timeline.fromTo("#socials", 
    {y:10, opacity: 0 }, 
    {y:0,opacity:1, duration: 0.9 })





    // gsap.from("#GSAP_title", {
    //     duration:3,
    //     opacity:0,
    //     ease: "power2.in",
    // });
    // gsap.from("#GSAP_articleImage", {
    //     opacity: 0,
    //     duration: 2,
    //     x: "-100%",
    //     delay: 1.8,
    //     stagger: .5
    // });
    // gsap.from("#GSAP_title", {
    //     opacity: 0,
    //     ease: "power2.in",
    //     duration: 1,
    //     x: "-100%"
    // });
</script>
{% schema %}
{
    "name":"Password",
    "settings":[
    {
        "type":"text",
        "id":"heading",
        "label":"Heading",
        "default":"Get ready for a new culture of confidence"
    },
    {
        "type":"text",
        "id":"subtext",
        "label":"Subtext",
        "default":"returning soon"
    },
    {
        "type":"text",
        "id":"companyMission",
        "label":"Company Mission",
        "default":"we curate articles, products, and interviews with the sole mission of helping you become a better woman. sign up to learn more."
    },
    {
        "type":"text",
        "id":"sign_up_button",
        "label":"Sign Up Text",
        "default":"join the journey"
    },
    {
        "type":"image_picker",
        "id":"logo",
        "label":"Logo"
    },
    {
    "type":"url",
    "id":"instagram_link",
    "label":"Instagram"
    },
    {
    "type":"url",
    "id":"tiktok_link",
    "label":"TikTok"
    },
    {
    "type":"url",
    "id":"twitter_link",
    "label":"Twitter"
    },
    {
    "type":"url",
    "id":"facebook_link",
    "label":"Facebook"
    },
    {
    "type":"text",
    "id":"email_link",
    "label":"House of Embrace Enquiry Email:",
    "default":"info@houseofembrace.com:"
    }    ]
}
{% endschema %}

